n8n-workflow-final.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Files to Gemini File Search",
        "formDescription": "Upload PDF or text files to be indexed in Google Gemini File Search Store",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf, .txt",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Upload File"
        }
      },
      "id": "e5bbe4a4-a933-4b7d-a879-8741530cb1e7",
      "name": "File Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        2416,
        -80
      ],
      "webhookId": "53507463-04ff-4627-a563-c1fcee98d7cb"
    },
    {
      "parameters": {
        "jsCode": "// Restructure data and KEEP binary\nreturn items.map(item => {\n  const uploadFile = item.json['Upload File'];\n  \n  return {\n    json: {\n      filename: uploadFile.filename,\n      mimetype: uploadFile.mimetype,\n      size: uploadFile.size,\n      submittedAt: item.json.submittedAt,\n      formMode: item.json.formMode,\n      metadataString: JSON.stringify({\n        file: {\n          display_name: uploadFile.filename\n        }\n      })\n    },\n    binary: item.binary  // CRITICAL: Keep binary data\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -80
      ],
      "id": "7ff12cc7-8ff8-4b17-b01a-ac2530e96f89",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBdEKVPVlMUbu65c5NVntmJL_CbWQ02fn4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "display_name",
              "value": "n8n_documents_store"
            }
          ]
        },
        "options": {}
      },
      "id": "9e398675-b29f-4751-96cf-895c34e0e49a",
      "name": "Create File Search Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2864,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine store info with file data\nconst fileData = $input.first();\nconst storeData = $('Create File Search Store').first();\n\nreturn {\n  json: {\n    ...fileData.json,\n    storeName: storeData.json.name,\n    storeId: storeData.json.name.split('/')[1]\n  },\n  binary: fileData.binary  // CRITICAL: Preserve binary data from Code in JavaScript\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        -80
      ],
      "id": "combine-data-node",
      "name": "Combine Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/{{ $json.storeName }}/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBdEKVPVlMUbu65c5NVntmJL_CbWQ02fn4"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "multipart"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata",
              "value": "={{ $json.metadataString }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=Upload File"
            }
          ]
        },
        "options": {}
      },
      "id": "5054eb43-cb00-423c-a95f-18dd02c52298",
      "name": "Upload File to Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3312,
        -80
      ]
    }
  ],
  "connections": {
    "File Upload Form": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create File Search Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File Search Store": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Upload File to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "aaadb797535f05587ee95b776c942a7c3f7a46fd7aa0c9b6a9d64e1e595f8af1"
  }
}
